/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 @import '../common';

 .wp-block { // This may need to be .wp-block in WordPress 5+
     
   .container {
     border: 1px solid $gray;
     padding: 1rem;
     text-align: center;
   }
 
   .button-container {
     text-align: center;
     padding: 22% 0;
     background: $off-white;
     border: 1px solid $gray;
     border-radius: 2px;
     margin: 0 0 1.2rem 0;
   }
 
   .heading {
     font-size: 1.5rem;
     font-weight: 600;
     text-align: center;
   }
 
   .image {
     width: 150px;
     height: 150px;
     border-radius: 50%;
   }
 }

