/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 @import '../common';

 .wp-block { // This may need to be .wp-block in WordPress 5+

    .wp-block-review-card-main button.add-more-review {
      height: 55px;
      width: 55px;
      background: #007cba;
      border-radius: 50%;
      position: relative;
      margin-left: 20px;
      border: none;
      font-size: 2em;
      color: white;
      line-height: 1;
    }

    .review-card-wrapper{
      background-color: transparent;
      width: 100%;
      
      overflow-x: scroll;
      overflow-y: hidden;
      
      display: grid !important;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      
      padding: 30px 10px;
      padding-right: 0;
      
      margin: 0 auto;
      border-radius: 10px;
    }
    
    .review-card-wrapper::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
    
    .review-card-wrapper {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .gts__picture {
      position: relative;
    
      .gts__picture__image {
        width: 100px;
        height: 100px;
        // margin: -50px 0 0 -50px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #dadada;
        font-size: .8em;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

 }

 .remove-review {
  height: 30px;
  width: 30px;
  background: gray;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  left: 40%;
}
 